{# Vue de la liste des Dons #}

{% extends 'base.html.twig' %}

{% block title %}Tous les dons{% endblock %}

{% block body %}
    <h1>Tous les dons</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date de réception</th>
                <th>Nom du donateur</th>
                <th>Prénom du donateur</th>
                <th>Description</th>
                <th>Nombre d'objets</th>
                <th>Date d'acceptation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for don in dons %}
            <tr>
                <td>{{ don.dateReception ? don.dateReception|date('d-m-Y') : '' }}</td>
                <td>{{ don.nomDonateur }}</td>
                <td>{{ don.prenomDonateur }}</td>
                <td>{{ don.description }}</td>
                <td>{{ don.objets|length }}</td>
                <td>{{ don.dateAcceptation ? don.dateAcceptation|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_don_show', {'id': don.id}) }}">Détails</a>
                    <a href="{{ path('app_don_edit', {'id': don.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p class="text-muted">Pour renseigner un don, <a href={{ path('app_offre_new') }}>créez une offre de don</a>.</p>
    {# <a class="btn btn-primary" href="{{ path('app_don_new') }}">Nouveau don</a> #}
{% endblock %}
