{# Vue de la liste des Objets #}

{% extends 'base.html.twig' %}

{% block title %}Tous les objets{% endblock %}

{% block body %}
    <h1>Liste des objets</h1>

    <h2>Objets Acceptés</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Réference</th>
                <th>Type</th>
                <th>Description</th>
                <th>Montant estimé (€)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objetsEnStock %}
            <tr>
                <td>{{ objet.reference }}</td>
                <td>{{ objet.type }}</td>
                <td>{{ objet.description }}</td>
                <td>{{ objet.montantEstime }}</td>
                <td>
                    <a href="{{ path('app_objet_show', {'reference': objet.reference}) }}">Détails</a>
                    <a href="{{ path('app_objet_edit', {'reference': objet.reference}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {# <a class="btn btn-primary" href="{{ path('app_objet_new') }}">Nouvel objet</a> #}

    <h2>Objets en attente</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Réference</th>
                <th>Type</th>
                <th>Description</th>
                <th>Montant estimé (€)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objetsEnAttente %}
            <tr>
                <td>{{ objet.reference }}</td>
                <td>{{ objet.type }}</td>
                <td>{{ objet.description }}</td>
                <td>{{ objet.montantEstime }}</td>
                <td>
                    <a href="{{ path('app_objet_show', {'reference': objet.reference}) }}">Détails</a>
                    <a href="{{ path('app_objet_edit', {'reference': objet.reference}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p class="text-muted">Pour enregistrer un objet, <a href={{ path('app_offre_index') }}>ajoutez-le à une offre</a>.</p>
{% endblock %}
