{% extends 'base.html.twig' %}

{% block title %}Détails de l'objet{% endblock %}

{% block body %}
    <h1>Détails de l'objet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Réference</th>
                <td>{{ objet.reference }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ objet.description }}</td>
            </tr>
            <tr>
                <th>Montant Estimé (€)</th>
                <td>{{ objet.montantEstime }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_objet_index') }}">Revenir en arrière</a>

    <a class="btn btn-primary" href="{{ path('app_objet_edit', {'reference': objet.reference}) }}">Modifier</a>

    {{ include('objet/_delete_form.html.twig') }}
{% endblock %}
