{# Vue dont héritent les autres pages de l'application #}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Petits Frères des Pauvres{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {# Barre de navigation #}
        <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container">
        <span class="navbar-brand">Petits Frères des Pauvres</span>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('app_offre_index') }}>Offres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('app_don_index') }}>Dons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('app_objet_index') }}>Objets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('app_recherche_index') }}>Recherche</a>
                    </li>
                </ul>
                </div>
            </nav>
            
    {# Contenu principal #}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
