{% extends 'base.html.twig' %}

{% block title %}Toutes les offres{% endblock %}

{% block body %}
    <h1>Toutes les offres</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Date de réception</th>
                <th>Nom du donateur</th>
                <th>Prénom du donateur</th>
                <th>Tél. du donateur</th>
                <th>Mail du donateur</th>
                <th>Description de l'offre</th>
                <th>État</th>
                <th>Nombre d'objets</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                {# <td>{{ offre.id }}</td> #}
                <td>{{ offre.dateReception ? offre.dateReception|date('d-m-Y') : '' }}</td>
                <td>{{ offre.nomDonateur }}</td>
                <td>{{ offre.prenomDonateur }}</td>
                <td>{{ offre.telephoneDonateur }}</td>
                <td>{{ offre.mailDonateur }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.etat }}</td>
                <td>{{ offre.objets|length }}</td>
                <td>
                {# Renvoyer vers le formulaire de don s'il s'agit d'une offre acceptée #}
                {% if offre.dateAcceptation is defined %}
                    <a href="{{ path('app_don_show', {'id': offre.id}) }}">Détails</a>
                    <a href="{{ path('app_don_edit', {'id': offre.id}) }}">Modifier</a>
                {% else %}
                    <a href="{{ path('app_offre_show', {'id': offre.id}) }}">Détails</a>
                    <a href="{{ path('app_offre_edit', {'id': offre.id}) }}">Modifier</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_new') }}">Nouvelle offre</a>
{% endblock %}
